<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('./components/headTag') -%>
</head>
<body>
    <%- include('./components/navbar') -%>

    
        <!-- - Back to all users -->

        <div class="container mt-2">
          <a href="/" class="btn btn-secondary fw-bold ">&larr; Back</a>
      </div>

<div class="container mt-5">

     <!-- - Alert msg -->
     <% if(msg !="" ){%>
      <div class="alert alert-success text-center " role="alert" id="addMsg">

          <%=msg %>
      </div>


      <%} %>

  <div class="container mt-5 bg-primary text-center text-light fw-30 p-2">
    <h3>Add User ASSETS</h3>
  </div>
<form action="/adduser" method="POST" >
    <div class="form-group mt-3">
      <label for="exampleInputEmail1"> Person Name</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="userName" placeholder="Enter User Name" required>
     
    </div>
    <div class="form-group  mt-3">
      <label for="exampleInputEmail1">Type of Asset to add</label>
      <input type="Type of Asset to add" class="form-control" id="exampleInputEmail1" name="userEmail" placeholder="Entertype f Asset">
     
    </div>
    <div class="form-group  mt-3">
      <label for="exampleInputPassword1">Amount</label>
      <input type="number" class="form-control" id="exampleInputPassword1" name="userNumber" placeholder="upto 10000 ">

    </div>
   
    <button type="submit" class="btn btn-primary mt-3 text-center">Submit</button>
  </form>
</div>

    <%- include('./components/bootstrapScript') -%>
    <script>
        let alert = document.getElementById('addMsg');
    setTimeout(() => {
        alert.style.visibility = "hidden"
    }, 2000)
    </script>
</body>
</html>